html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			h2  Welcome #{user.name}
			.row
				.col-md-4
					table.table
						tbody
							tr
								td User Type
								td #{user.userType}
							tr
								td Email
								td #{user.email}
							tr
								td Beds Taken
								td #{user.bedsTaken}