html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			h2  Welcome #{user.name}
			h3 You are a #{user.userType}
			if user.userType == user
				h5 Hello World