html
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			h2  Sign Up
			form(action='/register', method='POST')
				.form-group
					input.form-control(type='text', placeholder="Name", name='name')
				.form-group
					input.form-control(type='email', placeholder='Email', name='email')
				.form-group
					input.form-control(type='password', placeholder='Password', name='password')
				|
				.form-group
					select.form-control(name="type")
						option(value="user") User
						option(value="admin") Administrator
				button.btn.btn-warning.btn-lg(type='submit')    Sign Up
				p(class='error')=errorMessage
			hr
			p
				| Need an account? 
				a(href='/register') Signup
			p
				| Or forgot your password? 
				a(href='/reset') Reset