html 
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			.login-box
				.lb-header
					a#login-box-link.active(href='#') Reset Password
				form.email-login(action='/reset', method='post')
					.u-form-group
						input(name='email', type='email', placeholder='Email')
					.u-form-group
						button(type='submit') Reset Password
					.u-form-group
						a.forgot-password(href='/login') Return to login?