html 
	include components/header.pug
	body
		include components/navbar.pug
		.container-fluid
			h1 Reset
			form(action='/reset', method='POST')
				.form-group
					input.form-control(type='email', placeholder='Email', name='email')
				button.btn.btn-warning.btn-lg(type='submit') Login
				p(class='error')=errorMessage
			hr
			p
				| Want to login?
				a(href='/login')  Login
			p
				| Or need an account?
				a(href='/register')  Sign up